.profile-post{
    /* background-color: aqua; */
    width: 20%;
}
.border-img-post{
    border-radius: 50%;
    margin-left: 20px;
   
}

.border-img-context{
    margin-left: 20px;
    margin-left: 20px;
    height: auto;
    
}