
.img-home-bg{
    background-size: cover;
    width: 100%; 
    height: 1000px;
    top: 0;
    left: 0;
    

    background-image:url(../../public/jpgs/qt-bg.jpg); 

    /* background-color: #666666;
    background-image: url(../../public/jpgs/qt-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
     */

}

.img-slider{
    width: 100%;
    height: 400px;
    background-color: aqua;
}

.img-slider-home{
    height: 400px;
   
}



/* Slider */



/*  Slider */


