.g-center{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    z-index: -1;
    margin-top: 10px;
}
.i-center{
    /* background-color: pink; */
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    /* z-index: -1; */
}
.select-style{
    position: relative;
    color: rgb(60, 60, 60);
    padding: 8px;
    padding-right: 60px;
    padding-left: 30px;
    border-radius: 5px;
    border: solid 1.5 rgb(84, 84, 84);
}
.popup-profile{
    border-radius: 5px;
    text-align: center;
}
.popup-profile-btn button{
    margin: 5px;
    background: white;
    width: 90%;
    border: none;
}
.popup-profile-btn button:hover{
    background: rgb(227, 227, 227);
}
.select-style:hover{
    border: solid 2px blue;
}
.select-style:focus{
    border: solid 2px blue;
}
.i-center.left{
    background-color: white;
    height: 80px;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    min-height: 80px;
    min-width: 320px;
}
.i-center.conten{
    background-color: white;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    display: flex;
    flex-direction: column;
}
.top-title{
    /* min-height: 140px; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 30px;
}
.footed-title{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
} 
.title-text{
    width: 540;
    height: 25%;
    padding: 12px 24px;
    text-align: left;
}
.btn-post{
    margin: 0px 0px -1px;
    padding: 10px 20px;
    background-color: white;
    border: none;
    border-bottom: 2.5px solid #cfa671;
    font-size: 13px;
    font-weight: bold;
    color:#cfa671;
}
.btn-post:hover{
    background: #f6f6f6;
}
hr{
    margin: 0px;
    border-top: 2.5px solid #bebebe;
}
.area-conten{
    width: 100%;
    height: 50%;
}
.text-areas{
    width: 90%;
    height: 100%;
    border-radius: 5px;
    border: 1.5px solid rgb(183, 183, 183);
}
.text-areas:hover{
    border-color: #5383d1;
}
.text-areas:focus{
    border-color: #5383d1;
}
.text-areas::placeholder{
    padding-left: 10px;
}
.under-conten{
    width: 100%;
    height: 20%;
    margin-top: 30px;
    text-align: left;
}
.btn-share{
    background: #cfa671;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 24px 8px;
    border: none;
    width: 90%;
    border-radius: 5px;
    color: white;
    margin-left: 5%;
}
.btn-share:hover{
    background: #bb9665;

}
.title-post{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 15px;
}
.avtars{
    background-color: white;
}
.namespacs{
    background-color: white;
    text-align: left;
}
.namespacs-nickname{
    margin: 0px;
    padding: 0px;
    margin-top: 5px;
}
.namespacs-name{
    font-size: 14px;
    color: rgb(106, 106, 106);
}
.button-profile button{
    text-align: center;
    align-items: center;
    background: white;
    border-radius: 5px;
    border: none;
    width: 50%;
    height: 80%;
    margin-top: 5%;
}
.button-profile button:hover{
    background: #f6f6f6;
}
.conten-center{
    /* min-height: 400px; */
    text-align: left;
}
.time-conten{
    color: #747474;
    text-align: left;
    padding: 20px;
}
.time-conten span{
    padding-left: 5px;
}
.title-conten h3{
    padding: 20px;
}
.text-conten{
    padding: 20px;
}
.text-conten p{
    margin: 0px;
    padding: 0px;
    max-width: 739px;
    word-wrap: break-word;
}
.img-content img{
    width: 100%;
    height: 100%;
    padding: 20px;
}
.comment-conten{
    min-height: 50px;
    padding-top: 10px;
    padding-left: 20px;
}
.likebtn{
    border: none;
    color: #5e76ff;
    background: none;
}
.componentbtn{
    border: none;
    padding-left: 10px;
    color: #5e76ff;
    background: none;
}
#like{
    padding-right: 5px;
}
#comment{
    padding-right: 2px;
}
.likebtn:hover{
    color: #da8995;
    background-color: rgb(250, 250, 250);
}
.componentbtn:hover{
    color: #a16e4c9b;
    background-color: rgb(250, 250, 250);
}
.likebtn:focus{
    color: #da3951;
}
.componentbtn:focus{
    color: #a16339
}
.comment-use{
    min-height: 200px;
}
.user-comment{
    min-height: 180px;
    /* top: 50%;
    left: 50%; */
    text-align: left;
    padding: 2px;
    margin: 20px;
    border-radius: 10px;
    background: #f1f1f1;
}
.text-comment{
    padding-left: 10px;
}
.i-search{
    background: white;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.i-input-search{
    margin-right: 10px;
    border-radius: 5px;
}
.i-input-search::placeholder{
    padding-left: 10px;
}
.i-advert{
    margin-top: 20px;
    max-width: 400px;
    height: 400px;
    background: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.i-advert img{
    width: 100%;
    height: 100%;
    padding: 20px;
}
/* popup */
.Reserve-space-post{
    background-color: gainsboro;
}
.top-title-admin-post{
    background-color: bisque;
    height: 10%;
    /* display: flex;
    flex-direction: row-reverse; */
}
.background-shadow-post{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.background-shadow-post .Model-popup{
    width: 600px;
    height: 650px;
    background-color: white;
    border-radius: 5%;
}
.back-del-post{
    width: 25px;
    height: 25px;
    border-radius: 0px 5px 0px 10px;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 150px;
    font-size: 17px;
    font-weight: 600;
    float: right;
  
}
.text-topin-post{
    background-color: #ddae71;
    border-radius: 5px 10px 5px 5px;
    width: 100%;
    height: 50px;
    text-align: center;
    margin-bottom: 2%;
}

.top-post{
    /* background-color: aqua; */
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row ;
    position:relative ;

}

.profile-post{
    /* background-color: aqua; */
    width: 20%;
}
.border-img-post{
    border-radius: 50%;
    margin-left: 20px;
   
}
.profile-post-topic{
    /* background-color: rgb(87, 121, 121); */
    width: 80%;
  
}
.profile-post-topic{
    display: flex;
    flex-direction: column;
    position:absolute ;
    bottom: 25px;
    right: 5px;
}
.option-style{
    width: 50%;
    background-color: #ddae71;
    border: none;
    color: aliceblue;

}

.post-info-format{
    /* background-color: blueviolet; */
    width: 100%;
    height: 20%;
   
}

.topin-info{
    margin-left: 5%;
}

.box-post-img{
    /* background-color: cadetblue; */
    width: 100%;
    height: 40%;

  
}

.format-img-button{
    width: 100%;
    text-align: center;

}
.box-button-img{
    border-radius: 10px ;
    width: 80%;
    height: 5%;
    margin-left: 10%;
    margin-right: 10%;
    border:none;
    background-color:rgb(184, 152, 110) ;
    margin-top: 2px;
    
}
.box-button-img:hover{
    background-color: rgb(218, 183, 137)  ;

}

.up-img-post{
    background-color: rgb(203, 206, 206);
    border:3px solid #ad8959;
    border-radius: 10px ;
    width: 90%;
    height: 90%;
    margin-left: 5%;
    text-align: center;
    
}

.format-icon-img{
    padding-top: 20%;
    padding-left: 50%;
    
}
.box-text-post{
    width: 95%;
    height: 50%;
}

.format-button-post{
    width: 100%;
    text-align: center;
}

.button-post{
    width: 90%;
    height: 45px;
    border-radius: 12px;
    border: none;
    background-color: #ddae71;
    color: white;
    margin-top:5% ;
    
}

.button-post:hover{
    background-color: #ad8959;

}

@media screen and (max-width:769px){
    .g-center{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-self: flex-start;
        z-index: -1;
        margin-top: 10px;
    }
    .i-center.left{
        background-color: white;
        height: 80px;
        border-radius: 5px;
        padding-top: 20px;
        padding-bottom: 20px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        min-height: 80px;
        margin-bottom: 20px;
    }
    .text-conten p{
        margin: 0px;
        padding: 0px;
        max-width: 739px;
        word-wrap: break-word;
    }
}