.user-profile  {
    background-color: aqua;
    width: 100px;
}

.p-grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr ;
    
}

.content-img{
    text-align: center;
    padding-left: 15%;
    padding-top: 8%;
    padding-bottom: 8%;
}

.p-h2{
    padding-left:25%;
    padding-top: 20%;
}
.p-img-fluid{
    width: 80%;

}
.p-box{
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px; */
    /* border-style: none  solid none  none ; */
    border: 2px ridge;
    border-style: none ridge none none;
    width: 90%;
    height: 600px;

}
.p-inner-column{
    text-align: left;
    padding-right: 10%;

}

.p-button{
    background-color: #e3ebf7; /* Green */
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: auto;
    border-radius: 30px;
    width: 90%;
    color: #285192;
}

.p-button:hover{
    background-color: #d4ddec;
}

.p-button-edit{
    background-color: #e4a11b; 
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display:  block;
    font-size: 15px;
    cursor: pointer;
    margin: auto;
    border-radius: 30px;
    width: 20%;
    color: white;
    box-shadow: 0 4px 9px -4px #e4a11b;
}

.p-button-edit:hover{
    background-color: #cd9118;
}

.p-padding-problem{
    padding-top: 5%;
}
.p-padding-eadit{
    margin-left: 30%;
}
 .p-h3{
    padding-top: 6%;
    margin-right: 50% ;
}

.p-margin{
    margin-left: 5%;
   
}

.p-button-save{
    background-color: #14a44d; 
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display:  block;
    font-size: 15px;
    cursor: pointer;
    margin: auto;
    border-radius: 30px;
    width: 20%;
    color: white;
    box-shadow: 0 4px 9px -4px #14a44d;
}

.p-button-save:hover{
    background-color: #129445;

}

/*Admin*/
.btn-group-amind  {
 /* Green */
    /* border: 1px solid green; */
    /* color: white; */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    display: block;
    
  }

  .a-button{
    background-color: #e5e8ef; /* Green */
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: auto;
    border: 2px solid #e5e8ef;
   

    width: 100%;
    color: rgb(39, 50, 99);
}

.a-button:hover{
    background-color: white;
    color: #99794e;
}
   

