
button.componentbtn:hover{
    color: #bd855f
}
button.likebtn:focus{  /* คลิกแล้วเปลี่ยนสี*/
    color: #da3951;
}
button.componentbtn:focus{
    color: #a16339
}
.Reserve-space{
    background-color: gainsboro;
    width: 1535px;
    height: 650px;
}
.top-title-admin{
    background-color: bisque;
    height: 20%;
    display: flex;
    flex-direction: row-reverse;
}